body {
    background: #000000;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1280px;
    height: 1000px;
    padding: 0;
    margin: 0 auto;
    background: #F2F2F2;
}

/* ---------- MAIN ---------- */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    padding-top: 40px;
}