.items {
    width: 100%;
    margin-bottom: 10px;
}

.item {
    width: 802px;
    min-height: 83px;
    max-height: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.23);
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.row {
    margin: 0;
}

.item .cancel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    min-width: auto;
    width: 78.6px;
    margin-left: -10px;
}

.item .cancel img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.item .name {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-width: auto;
    width: 312.48px;
    margin: 0;
    padding: 0;
    margin-left: -24px;
}

.item .name .title {	
    height: 19px;	
    color: #333333;	
    font-family: "Droid Sans";	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 19px;
    padding-top: 9px;
    padding-bottom: 12px;
}

.item .name .cuit {	
    height: 19px;	
    width: 177.04px;	
    color: #8E8E8E;	
    font-family: "Droid Sans";	
    font-size: 16px;	
    line-height: 19px;
}

.item .name .cuit span {	
    color: #333333;	
}

.item .description {
    min-width: auto;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.item .description .establishment {	
    height: 14px;	
    width: 121.58px;	
    color: #848484;	
    font-family: "Droid Sans";	
    font-size: 12px;	
    line-height: 14px;
    margin-bottom: 0;
}

.item .description .establishment-number {
    height: 19px;	
    width: 121.58px;	
    color: #333333;	
    font-family: "Droid Sans";	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 19px;
    margin-bottom: 0;
}

.item .description .establishment-container-date {
    height: 17px;	
    width: 67.99px;	
    border-radius: 2px;	
    background-color: #B6B6B6;
    text-align: center;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.item .description .establishment-date {
    color: #FFFFFF;	
    font-family: "Droid Sans";	
    font-size: 11px;	
    font-weight: bold;	
    display: inline-block;
    padding: 0;
    margin: 0;
}

.item .operation {
    min-width: auto;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.item .operation .container-input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.item .operation .container-input .add-input {
    width: 133.44px;
    border: none;
    text-align: left;
    padding-left: 8px;
    height: 32px;
    border-bottom: 2px solid #979797;
    color: #333333;	
    font-family: "Droid Sans";	
    font-size: 18px;	
    line-height: 21px;
}

.item .operation .container-input .add-input:focus {
    border: none;
    outline:0px;
    border-bottom: 2px solid #23C324;
}

.item .operation .add-button {
    width: 78.6px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
}

.item .operation .add-button img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

/*---------ITEM DELETE -----------*/

.item .item-delete {
    display: inline-flex;
    border: 1px solid #D20F36;	
    border-radius: 2px;	
    background-color: #FFFFFF;
    vertical-align: middle;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-right: 30px;
    margin-right: 10px;
}

.item .item-delete span {
    display: inline-block;
    color: #333333;	
    font-family: "Droid Sans";	
    font-size: 16px;	
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-left: 22px;
}

.item .item-delete .operation-button {
    font-family: "Droid Sans";
    font-size: 16px;	
    line-height: 19px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.item .item-delete .cancel-action {
    color: #333333;	
    text-decoration: underline;
    margin-left: 98px;
    text-align: center;
}

.item .item-delete .refuse-action {
    color: #D20F36;		
    font-weight: bold;	
    line-height: 19px;
    margin-left: 23px;
    text-align: center;
}


@media (max-width: 900px) {
    .item {
        width: auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .item .cancel {
        width: 100%;
        padding: 0; 
        justify-content: flex-end;
        margin-top: 10px;
    }
    
    .item .name {
        margin: 0 0 2px 10px;
    }

    .item .description {
        margin: 0 0 2px 10px;
    }

    .item .operation {
        justify-content: flex-end;
        margin-bottom: 6px;
    }

    .item .item-delete {
        display: inline-flex;
        vertical-align: middle;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 13px 5px 13px 5px;
        text-align: center;
    }

    .item .item-delete .operation-button {
        width: 50%;
        margin: 0;
        margin-bottom: 4px;
    }

    .item .item-delete span {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 360px) {
    .item .name {
        width: 220px;
    }
}


/*--------- ANIMATION -------------*/
.anim-appear {
    opacity: 0.01;
}

.anim-appear.anim-appear-active{
    opacity: 1;
    transform:translate(1200px, 0);
    transition: opacity 2000ms ease-in;
}
 
.anim-leave {
    opacity: 1;
}
 
.anim-leave.anim-leave-active {
    opacity: 0.01;
    transform:translate(1200px, 0);
    transition: all 2s ease-in-out;
}

.anim-enter {
    opacity: 0.01;
}
   
.anim-enter.anim-enter-active {
    opacity: 1;
    transition: all 2s ease-in;
}


.anim_-appear {
    opacity: 0.01;
}

.anim_-appear.anim-appear-active{
    opacity: 1;
    transform:translate(1200px, 0);
    transition: opacity 2000ms ease-in;
}

.anim_-leave {
    opacity: 1;
}

.anim_-leave.anim_-leave-active {
    opacity: 0.01;
    transform:translate(-1200px, 0);
    transition: all 2s ease-in-out;
}

.anim_-enter {
    opacity: 0.01;
}
   
.anim_-enter.anim_-enter-active {
    opacity: 1;
    transition: all 2s ease-in;
}
