@font-face {
    font-family: 'OCR A Std';
    font-style: normal;
    font-weight: normal;
    src: local('OCR A Std'), url('../assets/fonts/OCRAStd.woff') format('woff');
}

.landing {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.header {	
    height: 529px;	
    width: 100%;	
    overflow: visible;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: middle;
    background: url('../assets/img/header.png') #142989;
    clear: both;
    z-index: 2;
}

/* ---------- WELCOME --------*/
.fullwidth, .fullwidth_ {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.welcome {	
    height: 50px;	
    width: 126px;
    color: #FFFFFF;	
    font-family: "Droid Sans";	
    font-size: 22px;	
    font-weight: bold;	
    line-height: 25px;
    margin-top: 67px;
    margin-left: 123px;
}

.welcome-name {
    max-width: 496.01px;
    margin-left: 126.5px;
    color: #FFFFFF;	
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.welcome-name-label {
    color: #FFFFFF;	
    font-family: "Droid Sans";	
    font-size: 30px;	
    line-height: 35px;
    margin-bottom: 13px;
    text-transform: capitalize;
}

.welcome-name input[type=text] {
    width: 448.11px;
    padding: 0;
    color: #FFFFFF;	
    font-family: "Droid Sans";	
    font-size: 30px;	
    line-height: 35px;
    background: transparent;
    border: none;
    border-left: 0.5px solid #FFFFFF;
    margin-bottom: 13px;
}

.welcome-name input[type=text]:focus {
    border: none;
    outline:0px;
}

.welcome-name input[type=text]:placeholder {
    color: rgba(255,255,255,0.3);
}

.welcome-name button {
    background: transparent;
    border: none;
    padding: 0 0 10px 0;
    margin-left: 6px;
    outline:0px;
    vertical-align: middle;
}

.welcome-name img {
    vertical-align: middle;
}

.welcome-name hr {
    border-bottom: 1.4px solid #FFFFFF;
    margin: 0;
    padding: 0;
    width: 496.01px;
}

.welcome-logo {	    
    height: 35px;	
    width: 105px;	
    margin-top: 80px;
    color: #FFFFFF;	
    font-family: "Droid Sans";	
    font-size: 10px;	
    line-height: 11px;	
    text-align: right;
    float: right;
    margin-right: 122px;
}

.welcome-logo span {
    margin-top: 10px;
    display: inline-block;
}

.welcome-logo img {
   width: 100%; 
   opacity: 1;
   filter: contrast(75%) grayscale(45%) brightness(150%);
}

/* --------- CARD --------- */
._card {
    height: 157px;	
    width: 250px;	
    opacity: 0.9;
    background: linear-gradient(240deg, #2D47AE 0%, rgb(250, 6, 26) 500%);
    margin-top: 86.41px;
    margin-left: 126.5px;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,0.5);
    border-radius: 8px;
}   

._card-debit {
    margin-left: 166.93px;
    margin-top: 25.19px;
    position: absolute;
    filter: brightness(100%);
}

._card-debit img {
    width: 100%;
}

._card-debit-chip {	
    height: 23.49px;	
    width: 24.26px;
    margin-left: 27.41px;
    margin-top: 62.25px;
    position: absolute;
}

._card-debit-chip img {
    width: 100%;
}

._card-number {
    width: 190.15px;
    height: 16.7px;
    color: #FFFFFF;	
    font-family: "OCR A Std";	
    font-size: 13.52px;	
    line-height: 17px;
    position: absolute;
    margin-left: 25.56px;
    margin-top: 101.99px;
}

._card-name {
    height: 24.31px;	
    width: 139.63px;	
    color: #D0E6E9;	
    font-family: "OCR A Std";	
    font-size: 10.79px;	
    line-height: 12px;
    position: absolute;
    margin-left: 27.49px;
    margin-top: 127.88px;
}

._card-date {
    height: 12.16px;	
    width: 38.87px;
    color: #FFFFFF;	
    font-family: "OCR A Std";	
    font-size: 10.79px;	
    line-height: 12px;
    position: absolute;
    margin-left: 175.72px;
    margin-top: 127.59px;
}

/* ---------  _MAIN FORM ----------*/

._main-form {
    height: 447px;	
    width: 448px;
	border-radius: 8px;
	background: linear-gradient(138.15deg, #1A56FF 0%, #600FC0 100%);
    box-shadow: 0 3px 16px 0 rgba(167, 100, 100, 0.14);
    margin-top: 86.41px;
    margin-left: 40.98px;
    z-index: 3;
}

._main-form-title {
    height: 45px;	
    width: 100%;	
    margin-top: 30px;
    margin-left: 32.58px;
    margin-bottom: 2px;
    padding: 0;
    color: #FFFFFF;	
}

._main-form-body {
    margin: 0;
    padding: 0;
    padding-left: 32px;
    padding-right: 27px;
}

._main-form-body label {
    color: #FFFFFF;	
    font-family: "Droid Sans";
    font-weight: 400;	
    font-size: 13px;	
    line-height: 13px;
    margin-top: 24px;
}

._main-form-body input[type=text], ._main-form-input_ {
    border: 1px solid #CACACA;	
    border-radius: 2px;	
    background-color: #FFFFFF;
    color: #333333;	
    font-family: "Droid Sans";	
    font-size: 14px;	
    line-height: 16px;
    width: 100%;
    height: 40px;
}

._main-form-body input[type=text]:focus, ._main-form-input_:focus  {
    color: #333333;
}

._main-form-title span {
    font-family: "Droid Sans";	
    font-size: 22px;	
    font-weight: bold;	
    line-height: 45px;
}

._main-form-footer {
    display: inline-block;
    height: 74px;	
    width: 100%;
    border-radius: 0 0 8px 8px;
    margin-top: 52px;
}

._main-form-footer button {
    height: 100%;	
    width: 100%;
    opacity: 1;
    border: none;
    border-radius: 0 0 8px 8px;
    background-color: #F8972E;
    color: #FFFFFF;	
    font-family: "Droid Sans";	
    font-size: 20px;	
    font-weight: bold;	
    line-height: 24px;	
    text-align: center;
}

._main-form-footer button:disabled {
    opacity: 0.18;
}


/* -------- _MAIN -----------*/
._main {
    background: #EFFAFB;
    position: relative;
    width: 100%;
    height: 671px;
    margin-bottom: 2px;
    overflow: hidden;
    z-index: 1;
}

._main-title {
    height: 60px;	
    max-width: 329px;	
    color: #142989;	
    font-family: "Droid Sans";	
    font-size: 22px;	
    font-weight: bold;	
    line-height: 30px;
    margin-top: 97px;
    margin-left: 125px;
}

._main-description {	
    height: 385px;	
    max-width: 489px;	
    color: #999999;	
    font-family: "Droid Sans";	
    font-size: 20px;	
    line-height: 30px;
    margin-top: 30px;
    margin-left: 126px;
}


@media (max-width:900px) {

    .fullwidth {
        flex-direction: column-reverse;
        justify-content: initial;
        align-items: flex-start;
    }

    .welcome {
        margin-left: 2px;
        margin-top: 30px;
    }

    .welcome-name {
        max-width: 496.01px;
        margin-left: 2px;
    }

    .welcome-name input[type=text] {
        width: 82.5%;
    }

    .welcome-name hr {
        width: 100%;
    }

    .welcome-logo {	    
        text-align: right;
        float: left;
        margin-right: 0;
        margin-top: 20px;
    }

    .fullwidth_ {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    ._card {
        margin-top: 30px;
        margin-left: 2px;
    }

    ._main-form {
        max-width: 450px;
        width: 100%;
        margin-top: 30px;
        margin-left: 2px;
        margin-bottom: 30px;
    }

    ._main-form-title span {
        font-size: 16px;
    }
    
    ._main-title {
        font-size: 20px;	
        margin-top: 30px;
        margin-left: 2px;
    }
    
    ._main-description {
        margin-left: 2px;
        font-size: 14px;
    }

    .header {		
        overflow: hidden;
        height: 100%;
    }
}