/* ---------- MENU ---------- */
.menu {
    height: 50px;	
    width: 100%;	
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;	
    box-shadow: 0 1px 0 0 #D2D2D2;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    vertical-align: middle;
}

.menu-left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
}

.menu .menu-left .logo  {
    height: 100%;	
    width: 95px;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.menu .menu-left .logo img {
    width: 66px;
    height: 21.94px;
    margin-left: 13.5px;
}

.menu .menu-left .line {	
    height: 100%;	
    width: .6px;	
    display: inline-block; 
    padding: 0;
    margin: 0;
}

.menu .menu-left .line hr {
    margin-top: 10.5px;
    height: 28px;
    border: .5px solid #979797;
}

.menu .menu-left .requests {
    height: 100%;
	width: 97px;	
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu .menu-left .requests span {
    color: #666666;	
    font-family: "Droid Sans";	
    font-size: 20px;	
    line-height: 24px;
    margin-left: 12.5px;
}

.menu .menu-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse; 
}

.menu .menu-right .create-request {	
    height: 100%;
    width: 146px;		
    display: inline-block;  
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.menu .menu-right .create-request .shape-add {
    color: #005B9C;	
    font-family: "Droid Sans";
    font-size: 40px;	
    margin: 0;
    padding: 0;
    line-height: 50px;
    font-weight: 400;
    display: table-cell;
	vertical-align: middle;
}

.menu .menu-right .create-request .text-add {
    color: #005B9C;	
    font-family: "Droid Sans";
    font-size: 15px;	
    margin: 0;
    padding: 0;
    font-weight: bold;	
    line-height: 18px;
    display: table-cell;
    vertical-align: middle;
}

.menu .menu-right .create-request a {
    cursor: pointer;
}
.menu .menu-right .create-request a:link {
    text-decoration: none;
}

.menu .menu-right .create-request a:hover {
    text-decoration: none;
}

.menu .menu-right .create-request a:visited {
    text-decoration: none;
}

/* ---------- MODAL ---------- */

.modal-dialog {	
    width: 425px;
    height: 456px;
    margin-top: 86px;
}


.modal-header {
    padding: 15px;
    border-bottom: 1px solid #979797;
}

.modal-title {		
    color: #005B9C;	
    font-family: "Droid Sans";	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 19px;	
    text-align: center;
}

.modal-line {		
    width: 348px;	
    border: 0.6px solid #979797;
    display: inline-block;
}

.modal-footer {
    border-top: 0px solid #e5e5e5;
    text-align: center;
}

.modal-footer .btn+.btn {
    margin-bottom: 0; 
    margin-left: 0px; 
}

.btn-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-actions .btn-accept {
    height: 43px;	
    width: 160px;	
    border-radius: 2px;
    background-color: #005B9C;
    color: #FFFFFF;	
    font-family: "Droid Sans";	
    font-size: 17px;	
    font-weight: bold;	
    line-height: 20px;	
    text-align: center;
    margin-right: 21px;
}

.btn-actions .btn-cancel {
    height: 43px;	
    width: 160px;	
    border: 1px solid #777777;	
    border-radius: 2px;
    color: #333333;	
    font-family: "Droid Sans";	
    font-size: 17px;	
    line-height: 20px;	
    text-align: center;
    margin-left: 21px;
}

.form-init {
    margin-top: 30.5px;
}

.input-cuit {
    height: 43px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 0 0 #ECECEC;
    margin-bottom: 53.5px;
    color: #949494;	
    font-family: "Droid Sans";	
    font-size: 17px;	
    line-height: 20px;
}

.input-name {
    height: 43px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 0 0 #ECECEC;
    color: #949494;	
    font-family: "Droid Sans";	
    font-size: 17px;	
    line-height: 20px;
}

.input-label {
    color: #333333;	
    font-family: "Droid Sans";	
    font-size: 12px;	
    font-weight: bold;	
    line-height: 14px;
    margin-bottom: 12px;
}

@media (max-width: 375px) {

    .menu .menu-left {
        width: 60%;
    }

    .menu .menu-right{
        width: 40%;
    }
    
    .menu .menu-left .requests {
        width: 87px;	
    }
    
    .menu .menu-left .requests span {
        font-size: 16px;	
    }
        
    .menu .menu-right .create-request {	
        width: 130px;		
    }
    
    .menu .menu-right .create-request .shape-add {
        font-size: 30px;	
    }
    
    .menu .menu-right .create-request .text-add {
        font-size: 14px;	
    }
}

@media (max-width:998px) {
    .input-cuit {
        margin-bottom: 1px;
    }
}

@media (max-width:448px) {
    .modal-dialog {	
        width: 100%;
        height: 456px;
        margin-top: 86px;
    } 
}

@media (max-width:448px) {

    .btn-actions {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;    
        justify-content: center;
        align-items: center;
        
    }

    .btn-actions .btn-accept {
        height: 43px;	
        width: 160px;	
        margin: 0;
    }
    
    .btn-actions .btn-cancel {
        height: 43px;	
        width: 160px;	
        margin: 0;
        margin-bottom: 20px;
    }
}